/* tweak definitions */

// tweak: { "type" : "color", "title" : "Movie Border Color" }
@movie-border-color: teal;




/* CSS pre-processing by {less}. http://lesscss.org/
***************************************************/

body {
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}

.header {
  text-align: center;
}

.container {
  max-width: 43em;
  margin: 0 auto;
  padding: 100px 15px;
}

h1.site-title {
  a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
  }
}

.navbar {
    display: flex;
    justify-items: space-between;
    align-items: center;
    width: 100%;

    nav {
        display: flex;
        flex: 1;
        justify-items: space-between;

    }
}


.movie-item {
    border: solid 1px @movie-border-color;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
}